

<div class="col-xs-2">
<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
<h4 class="title">ジャンル検索</h4>
 


			<% @product_genres.each do |product_genre| %>
				<% if product_genre.genre_status == true %>

						<p class="genrelist"><%= link_to product_genre.name, products_path(product_genre_id: product_genre.id) %></p>


				<% end %>
			<% end %>
		</ul>
</div>
</div>




	