<div class="container-cancellation">
		<div class="top-genre">
			<h5><span><strong>ジャンルから探す</strong></span></h5>
			<%= render 'genre_index', product_genres:@product_genres %>
		</div>
			<h2 class="top-welcome">Welcome to<%= image_tag 'naganocake-logo.png', :size=> '200x50'%></h2>
			<p class="top-message">このサイトは、ケーキ販売のECサイトになります。<br>
			会員でない方も商品の閲覧はできますが、<br>
			購入には会員登録が必要になります。</p>
</div>

<div class="row recomend-list">
	<p><strong>おすすめ商品</strong></p><br>
	<%= render "recommend-item", priduct1: @product1, priduct2: @product2, priduct3: @product3, priduct4: @product4 %>
</div>

<p class="row look-link"><%= link_to "もっと見る >>", products_path %></p>


