<div class="row">
    <div class="col-md-6 col-md-offset-3">
		<%= image_tag 'thankscake.png', :size=>"300x300", class: "thankscake center-block" %>
		<br>
		<h4 class="text-center">ご購入いただき、誠にありがとうございます。</h4>
	</div>
</div>